<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{Layout}">
    <head>

    </head>
    <body layout:fragment='body' >
        <div class="container-fluid" >
            <!-- Agregar usuario -->
            <div class="row bg-black h-25 text-white align-items-center">
                <div class="col-2 text-center"><i class="bi bi-emoji-smile-fill" style="font-size: 48px;"></i></div>
                <div class="col-6 text-center"><h1 class="h1">Lista de usuarios</h1></div> 
                <div class="col-2 ">
                    <button class="btn btn-primary">
                        <a class='fw-bold bg-none text-muted' style='text-decoration: none; color:' 
                           th:href="@{UsuarioIndex/add}">Agregar Usuario 
                            <i class="bi bi-plus-circle"></i></a>
                    </button>
                </div>
                <div class="col-2 ">
                    <button class="btn btn-primary">
                        <a class='fw-bold bg-none text-muted' style='text-decoration: none; color:' 
                           th:href="@{UsuarioIndex/CargaMasiva}">Carga Masiva
                            <i class="bi bi-plus-circle"></i></a>
                    </button>
                </div>
            </div>

            <!-- Buscar -->
            <div class="container">
                <form th:action="@{/UsuarioIndex}" method="POST" th:object="${usuario}">
                    <div class="row">
                        <div class="col-2">
                            <label>Nombre usuario</label>
                            <input type="text" th:field="*{Nombre}">
                        </div>
                        <div class="col-2">
                            <label>Apellido paterno</label>
                            <input type="text" th:field="*{ApellidoPaterno}">
                        </div>
                        <div class="col-2">                            
                            <label>Apellido materno</label>
                            <input type="text" th:field="*{ApellidoMaterno}">
                        </div>
                        <div class="col-2">                            
                            <label>Nombre rol</label>
                            <select th:field="*{Rol.IdRol}">
                                <option value="0" selected >Seleccione un rol</option>
                                <option th:each="rol : ${roles}"
                                        th:value="${rol.IdRol}"
                                        th:text="${rol.Nombre}">
                                </option>
                            </select>
                        </div>
                        <div class="col-4">
                            <input class="btn btn-primary" type="submit">
                        </div>
                    </div>
                </form>
            </div>


            <main class="mt-3">
                <div class="table-responsive">
                    <table class="table align-middle bg-white">
                        <thead class="table-primary">
                            <tr>
                                <th>Usuario</th>
                                <th>Datos de contacto</th>
                                <th>Direcciones</th>
                                <th>Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr th:each="usuario: ${usuarios}">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <i  th:style=" ${usuario.Sexo == 'F '} ? 'color: purple;' : 'color: green;'"
                                            class="bi bi-person-circle"

                                            >
                                        </i>
                                        <div class="ms-3">
                                            <p class="fw-bold mb-1" th:text="|${usuario.Nombre} ${usuario.ApellidoPaterno} ${usuario.ApellidoMaterno}|"></p>
                                            <p class="text-muted mb-0" th:text="${usuario.UserName}"></p>
                                        </div>
                                    </div>

                                </td>
                                <td>                                
                                    <div class="d-flex">
                                        <i class="bi bi-envelope-at mb-0"></i>
                                        <p class="fw-normal mb-1 ms-1" th:text="${usuario.Email}"></p>
                                    </div>
                                    <div class="d-flex">
                                        <i class="bi bi-telephone-fill mb-0 "></i>
                                        <p class="fw-normal mb-1 ms-1" th:text="${usuario.Telefono}"></p>
                                    </div>
                                    <div class="d-flex">
                                        <i class="bi bi-phone mb-0"></i>
                                        <p class="fw-normal mb-1 ms-1" th:text="${usuario.Celular}"></p>
                                    </div>
                                </td>
                                <td>
                                    <ul class="d-flex" th:each="direccion: ${usuario.Direcciones}" >
                                        <i class="bi bi-geo"></i>
                                        <li class="fw-normal mb-1 ms-1" style="list-style-type: none;" 
                                            th:text="${direccion.Calle != null} ? |${direccion.Calle}  ${direccion.NumeroExterior}| : 'No hay direcciones asignadas'"></li>
                                    </ul>
                                </td>
                                <td th:text="${usuario.Rol.Nombre!=null} ? ${usuario.Rol.Nombre} : 'Sin rol asignado'"></td>
                                <td>
                                    <a class='btn btn-info' th:href="@{/UsuarioIndex/usuario-detalles/{IdUsuario}(IdUsuario=${usuario.IdUsuario})}">Ver</a>

                                    <button type="button" class="btn btn-danger">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </main>
        </div>
        <script th:if="${successMessage}" th:inline="javascript">
            Swal.fire({
                title: [[${successMessage}]],
                icon: "success",
                draggable: true
            });
        </script>
        
    </body>
</html>
